/logs/
/cache/
/local/
mithril_ai.egg-info/
*.egg-info/
dist/
build/
.eggs/
myenv/
.venv/
*.pyc
**/__pycache__/
.DS_Store
rag/ragenv/
scripts/
scripts/brendan/
scripts/test_analysis/
shara_scripts/
scripts/shara_scripts/
shara_scripts/
eda_test_cases/
scripts/aqib_scripts/
brendan/
.env
.terraform/*
.terraform*
.aws/*
# .vscode/*
# *.png
*.csv
*.swp
